* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$dark : #1d1d20;
$grey: #d1d1d1;
$lightGrey: #cccccc;
$red: #c42828;

$borderRed: 5px solid #c42828;
body {
    background: $dark;
    color: $grey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img {
    max-width: 100%;
}
h1, h2,h3 {
    padding: 10px;
    border-bottom: $borderRed;
    display: inline-block;
}
h3 {
    margin: 20px auto 0 auto;
}
p {
    margin-top: 20px;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 50px auto 0 auto;
    padding: 0 30px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .about {
        border-right: $borderRed;
    }
}

.wrapper {
    text-align: center;
    h1 {
        font-size: 46px;
        margin-bottom: 30px;
    }
}
.about, .skills {
    padding: 30px;
    p {
        text-align: left;
    }
}

.skills {
    div {
        text-align: left;
        ul {
            margin-top: 20px;
            padding-left: 10px;
            li {
                line-height: 1.6;
            }
        }
    }
}
.additionalSkills {
   text-align: center !important;
   ul {
    text-align: left;
    padding-left: 15px;
   }
}

.contactInfo {
    text-align: center;
    margin-top: 50px;
    svg {
        font-size: 50px;
        color: $lightGrey;
        transition: all 0.4s;
        &:hover {
            color: $red;
        }
    }
}
.mail {
    a {
        color: $lightGrey;
        text-decoration: none;
        margin: 20px 0 50px 0;
        display: inline-block;
        font-size: 20px;
        transition: all 0.4s;
        &:hover {
            color: $red;
        }
    }
}
@media only screen and (max-width: 992px) {
    .grid2 {
        grid-template-columns: 1fr;
    }
    .about {
        border: none !important;
    }
}